.header {
    background-color: var(--color-white);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container__title {
    display: none;
}

.header__menu-hamburguer {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../icons/menu.svg);
    display: inline-block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
}

.botao__menu-hamburguer:checked~ .lista-menu {
    display: block;
}

.botao__menu-hamburguer {
    display: none;
}

.lista-menu__title, .lista-menu__item {
    padding: 1rem;
    background-color: var(--color-white);
    border-bottom: 1px dotted black;
}

.lista-menu__title {
    color: var(--color-orange);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--color-blue-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.icon-favorites {
    display: block;
}

.menu-options {
    display: none;
}

@media screen and (min-width: 1024px) {

    .header__menu-hamburguer {
        display: none;
    }

    .container__title {
        display: block;
        font-size: 2rem;
    }

    .container__title-bold {
        font-weight: 700;
    }

    .menu-options {
        display: flex;
    }

    .menu-options__item {
        text-transform: uppercase;
        padding: 0 1rem;
    }

    .menu-options__link {
        color: var(--color-black);
        text-decoration: none;
    }

    .menu-options-btn {
        display: none;
    }

    .menu-options-btn:checked~ .lista-menu {
        display: block;
    }

    .lista-menu {
        width: 20%;
    }

    .icon-favorites {
        display: none;
    }
}