.header {
    background-color: var(--color-white);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container__title {
    display: none;
}

.header__menu-hamburguer {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../icons/menu.svg);
    display: inline-block;
}

.botao__menu-hamburguer {
    display: none;
}

.botao__menu-hamburguer:checked ~ .lista-menu {
    display: block;
}

.botao__menu-hamburguer:checked ~ .container__label > .header__menu-hamburguer {
    background-image: url(/images/menu_white.png);
}

.botao__menu-hamburguer:checked ~ .container__label {
    background: var(--color-blue-degrade);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
}

.lista-menu__title, .lista-menu__item {
    padding: 1rem;
    background-color: var(--color-white);
    border-bottom: 1px dotted black;
}

.lista-menu__title {
    color: var(--color-orange);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--color-blue-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.icon-favorites {
    display: block;
}

.menu-options {
    display: none;
}

.header-icon-label {
    display: none;
}

@media screen and (min-width: 1024px) {

    .header__menu-hamburguer {
        display: none;
    }

    .container__title {
        display: block;
        font-size: 2rem;
    }

    .container__title-bold {
        font-weight: 700;
    }

    .menu-options {
        display: flex;
    }

    .menu-options__item {
        text-transform: uppercase;
        padding: 1rem 1rem;
    }

    .menu-options__link {
        color: var(--color-black);
        text-decoration: none;
    }

    .menu-options-btn {
        display: none;
    }

    .menu-options-btn:checked~ .lista-menu {
        display: block;
    }

    .lista-menu {
        width: 20%;
    }

    .icon-favorites {
        display: none;
    }

    .header-icon-label {
        display: none;
    }

    .menu-options-btn:checked ~ .option-menu-categorias > .menu-options__item {
        background: var(--color-blue-degrade);
        color: var(--color-white);
    }

    .lista-menu__item:hover {
        background: var(--color-blue-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--color-white);
        text-decoration: none;
    }

    .menu-options__item:hover, .menu-options__link:hover {
        color: var(--color-orange);
    }

    .header-icon-label:hover {
        color: var(--color-orange);
    }

}

@media screen and (min-width: 1510px) {
    .menu-options {
        flex-grow: 2;
        padding-left: 3rem;
    }

    .header-icon-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }

    .header-icon-label {
        display: block;
        font-size: 1.25rem;
        color: var(--color-black);
        padding-left: 0.5rem;
    }
}