.newsletter {
    background-color: var(--color-white);
    color: var(--color-blue);
    padding: 2.5rem 2rem;
}

.newsletter__title {
    font-size: 1.2rem;
    font-weight: 500;
}

.newsletter__text {
    font-weight: 500;
    margin: 1rem 0;
}

.newsletter__search {
    background-color: transparent;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 1.5rem;
    padding: 1rem;
    width: 100%;
}

.newsletter__search::placeholder {
    font-size: 0.8rem;
    font-family: var(--ff-texts);
    font-weight: 400;
    color: var(--color-blue);
    text-align: center;
    background: url(../icons/email.svg) no-repeat;
    background-position: 2.2rem;
}

@media screen and (min-width: 1024px) {

    .newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsletter-box {
        padding: 2rem 5rem;
        width: 30%;
    }

    .newsletter__title {
        font-size: 1.5rem;
    }

    .newsletter__text {
        font-weight: 300;
    }

    .newsletter__search {
        width: 40%;
    }

    .newsletter__search::placeholder {
        font-size: 1rem;
        background-position: 3rem;

    }
}